.b-about {
    &_decor {
        padding: 90px 180px;
        position: relative;

        @media (max-width: 1600px) {
            padding: 50px 90px;
        }

        @include media-breakpoint-down(lg) {
            padding: 30px 50px;
        }

        @include media-breakpoint-down(md) {
            padding: 24px 42px;
        }

        @include media-breakpoint-down(sm) {
            padding: 20px 30px;
        }

        @include media-breakpoint-down(xs) {
            padding: 10px 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__header {
        font-family: $aboutHeaderFont;
        color: $mainThemeHeaderColor;
        font-size: 62px;

        @include media-breakpoint-down(lg) {
            font-size: 50px;
        }

        @include media-breakpoint-down(md) {
            font-size: 40px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 40px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 26px;
            padding: 5px 0;
            text-align: center;
        }
    }

    &__text {
        font-family: $aboutTextFont;
        color: $mainThemeTextColor;
        font-size: 17px;
        line-height: 30px;
        width: 45%;
        text-align: justify;

        @media (max-width: 1600px) {
            padding-right: 25px;
        }

        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 26px;
            padding-right: 0;
        }

        @include media-breakpoint-down(sm) {
            font-size: 16px;
            line-height: 22px;
            padding-right: 0;
        }

        @include media-breakpoint-down(xs) {
            font-size: 15px;
            line-height: 18px;
            width: 100%;
        }

        &:after {
            background: black;
            position: absolute;
            content: "";
            right: 0px;
            top: 0;
            -webkit-clip-path: polygon(47% 100%, 68% 100%, 100% 38%, 100% 0%, 0% 0%);
            clip-path: polygon(47% 100%, 68% 100%, 100% 38%, 100% 0%, 0% 0%);

            @media (min-width: 1601px) {
                height: 513px;
                width: 1045px;
            }

            @media (max-width: 1600px) {
                height: 431px;
                width: 782px;
                -webkit-clip-path: polygon(47% 100%, 66% 100%, 100% 48%, 100% 0%, 0% 0%);
                clip-path: polygon(47% 100%, 66% 100%, 100% 48%, 100% 0%, 0% 0%);
            }

            @include media-breakpoint-down(lg) {
                height: 351px;
                width: 715px;
                -webkit-clip-path: polygon(55% 100%, 79% 100%, 100% 61%, 100% 0%, 10% 0%);
                clip-path: polygon(55% 100%, 79% 100%, 100% 61%, 100% 0%, 10% 0%);
            }

            @include media-breakpoint-down(md) {
                height: 335px;
                width: 567px;
                -webkit-clip-path: polygon(69% 100%, 83% 100%, 100% 71%, 100% 0%, 10% 0%);
                clip-path: polygon(69% 100%, 83% 100%, 100% 71%, 100% 0%, 10% 0%);
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }

        }
    }

    &__button {
        text-transform: uppercase;
        background: $mainThemeColor;
        font-family: $headerTextFont;
        font-size: 21px;
        color: white;
        border-radius: 50px;
        box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.2);
        height: 54px;
        transition-duration: .5s;
        padding: 10px 32px;

        @include media-breakpoint-down(lg) {
            height: 40px;
            padding: 7px 22px;
            font-size: 18px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-down(xs) {
            height: 30px;
            padding: 6px 14px;
            font-size: 13px;
        }

        &:hover {
            background: $mainThemeExtraColor;
            outline: none;
            text-decoration: none;
            color: white;
        }

        &:visited {
            color: white;
        }

        &_decor {
            margin-top: 70px;
            display: inline-block;

            @media (max-width: 1600px) {
                margin-top: 25px;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 20px;
            }
        }
    }

}