.b-aboutImage {
    &_decor {
        position: relative;
    }

    &__image {

        @media (min-width: 1601px) {
            width: 609px;
            height: 369px;
        }

        @media (max-width: 1600px) {
            width: 451px;
            height: 273px;
        }

        @include media-breakpoint-down(lg) {
            width: 406px;
            height: 246px;
        }

        @include media-breakpoint-down(md) {
            width: 308px;
            height: 187px;
        }

        @include media-breakpoint-down(xs) {
            width: 270px;
            height: 164px;
        }


        &_decor {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;

            @include media-breakpoint-down(md) {
                margin-top: 30px;
                right: -30px;
            }

            @include media-breakpoint-down(xs) {
                margin: 5px;
                position: initial;
            }
        }

    }
}