.b-clientImage {
    &_decor {
        position: relative;
        padding: 20px;

        @include media-breakpoint-down(md) {
            padding: 0;
        }

        &:after {
            content: "";
            width: 300px;
            height: 300px;
            background: white;
            position: absolute;
            left: 48px;
            top: 77px;
            z-index: 1;
            filter: drop-shadow(-19px 12px 20px rgba(35, 31, 32, 0.31));
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);

            @media (max-width: 1600px) {
                width: 280px;
                height: 280px;
                left: 54px;
                top: 78px;
            }

            @include media-breakpoint-down(lg) {
                width: 250px;
                height: 250px;
                left: 43px;
                top: 69px;
            }

            @include media-breakpoint-down(md) {
                width: 200px;
                height: 200px;
                top: 50px;
                left: 23px;
            }

            @include media-breakpoint-down(xs) {
                left: 45px;
                top: 44px;
            }
        }
    }

    &__image {

        @media (max-width: 1600px) {
            width: 350px;
        }

        @include media-breakpoint-down(lg) {
            width: 300px;
        }

        @include media-breakpoint-down(md) {
            width: 250px;
        }

        &_decor {
            float: left;
            margin: 25px 70px 0 0;
            z-index: 2;
            position: relative;

            @media (max-width: 1600px) {
                margin-right: 90px;
            }

            @include media-breakpoint-down(lg) {
                margin-bottom: 20px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 25px;
                margin-right: 35px;
            }

            @include media-breakpoint-down(xs) {
                margin: 20px;
            }
        }

    }
}