.b-copyright {
    color: white;
    font-size: 17px;
    width: 700px;
    border-top: 1px solid white;
    text-align: center;
    padding-top: 30px;
    font-family: $aboutTextFont;

    @include media-breakpoint-down(md) {
        padding-top: 20px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 15px;
        width: initial;
    }

    &_decor {
        margin: 36px auto 0;

        @include media-breakpoint-down(md) {
            margin: 20px auto 0;
        }

        @include media-breakpoint-down(sm) {
            margin: 15px auto 0;
        }

        @include media-breakpoint-down(xs) {
            margin: 10px auto 0;
        }
    }
}