.b-client {
    &_decor {
        padding: 90px 180px;
        position: relative;

        @media (max-width: 1600px) {
            padding: 50px 90px;
        }

        @include media-breakpoint-down(lg) {
            padding: 30px 50px;
        }

        @include media-breakpoint-down(md) {
            padding: 24px 50px;
        }

        @include media-breakpoint-down(sm) {
            padding: 20px 30px;
        }

        @include media-breakpoint-down(xs) {
            padding: 10px 15px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &:before {
            content: "";
            position: absolute;
            right: 0;
            top: 0;
            border: 200px solid transparent;
            border-top: 200px solid black;
            border-right: 200px solid black;

            @media (max-width: 1600px) {
                border: 150px solid transparent;
                border-top: 150px solid black;
                border-right: 150px solid black;
            }

            @include media-breakpoint-down(lg) {
                border: 100px solid transparent;
                border-top: 100px solid black;
                border-right: 100px solid black;
            }

            @include media-breakpoint-down(md) {
                border: 50px solid transparent;
                border-top: 50px solid black;
                border-right: 50px solid black;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }
    }

    &__header {
        font-family: $aboutHeaderFont;
        color: $mainThemeHeaderColor;
        font-size: 62px;
        line-height: 62px;
        padding: 0 140px;

        @include media-breakpoint-down(lg) {
            font-size: 50px;
            line-height: 50px;
        }

        @include media-breakpoint-down(md) {
            font-size: 40px;
            line-height: 40px;
            padding: 0;
        }

        @include media-breakpoint-down(sm) {
            //font-size: 40px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 26px;
            line-height: 26px;
            padding: 5px 0;
            text-align: center;
        }

        &_decor {
            z-index: 3;
            position: relative;
        }
    }

    &__text {
        font-family: $aboutTextFont;
        color: $mainThemeTextColor;
        font-size: 20px;
        line-height: 30px;
        text-align: justify;
        padding: 65px 170px 0;
        font-style: italic;
        background: url(../images/icons/quotes.png) no-repeat 350px 50px;
        position: relative;
        z-index: 1;

        @media (max-width: 1600px) {
            padding-right: 45px;
            background: url(../images/icons/quotes.png) no-repeat 360px 50px;
        }

        @include media-breakpoint-down(lg) {
            background: url(../images/icons/quotes.png) no-repeat 310px 50px;
            background-size: 7%;
        }

        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 26px;
            padding-right: 0;
            background: url(../images/icons/quotes.png) no-repeat 240px 50px;
            background-size: 5%;
        }

        @include media-breakpoint-down(sm) {
            line-height: 22px;
            padding-right: 0;
            background: url(../images/icons/quotes.png) no-repeat 245px 50px;
            background-size: 6%;
        }

        @include media-breakpoint-down(xs) {
            font-size: 14px;
            line-height: 22px;
            padding: 0;
            padding-top: 20px;
            background: url(../images/icons/quotes.png) no-repeat 49% 0;
            background-size: 6%;
        }
    }

    &__underline {
        //text-transform: uppercase;
        //background: $mainThemeColor;
        font-family: $aboutLittleHeaderFont;
        font-size: 18px;
        font-weight: 700;
        color: $mainThemeTextColor;
        //border-radius: 50px;
        //box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.2);
        //height: 54px;
        //transition-duration: .5s;
        //margin-top: 46px;

        @include media-breakpoint-down(lg) {
            font-size: 17px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 13px;
        }

        &_decor {
            margin-top: 50px;
            display: inline-block;

            @media (max-width: 1600px) {
                margin-top: 45px;
            }

            @include media-breakpoint-down(lg) {
                margin-top: 35px;
            }

            @include media-breakpoint-down(md) {
                margin: 20px 0;
                display: block;
                text-align: center;
            }
        }
    }

}