.b-contacts {
    background: black;

    &_decor {
        padding: 90px 180px;
        position: relative;

        @media (max-width: 1600px) {
            padding: 50px 100px;
        }

        @include media-breakpoint-down(lg) {
            padding: 30px 50px;
        }

        @include media-breakpoint-down(md) {
            padding: 24px 42px;
        }

        @include media-breakpoint-down(sm) {
            padding: 20px 30px;
        }

        @include media-breakpoint-down(xs) {
            padding: 10px 15px;
        }

        &:before {
            content: "";
            position: absolute;
            right: 0px;
            bottom: 0;
            border: 150px solid transparent;
            border-bottom: 150px solid $mainThemeColor;

            @include media-breakpoint-down(lg) {
                border: 90px solid transparent;
                border-bottom: 90px solid $mainThemeColor;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }

            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
    }

    &__header {
        font-family: $aboutHeaderFont;
        color: #9f9f9f;
        font-size: 62px;
        text-align: center;
        line-height: 62px;

        @include media-breakpoint-down(lg) {
            font-size: 50px;
        }

        @include media-breakpoint-down(md) {
            font-size: 40px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 40px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 26px;
        }

        &_decor {
            margin-bottom: 80px;

            @media (max-width: 1600px) {
                margin-bottom: 65px;
            }

            @include media-breakpoint-down(lg) {
                margin-bottom: 50px;
            }

            @include media-breakpoint-down(md) {
                margin-bottom: 40px;
            }

            @include media-breakpoint-down(sm) {
                margin-bottom: 20px;
            }

            @include media-breakpoint-down(xs) {
                margin-bottom: 20px;
            }
        }
    }
}