.b-contactBlock {
    padding: 0 0 90px 40px;
    box-sizing: border-box;
    text-align: justify;
    color: white;

    @media (max-width: 1600px) {
        padding: 0 0 80px;
    }

    @include media-breakpoint-down(lg) {
        padding: 0 0 60px;
    }

    @include media-breakpoint-down(md) {
        padding: 0 0 40px;
    }

    @include media-breakpoint-down(sm) {
        padding: 0 0 40px;
        text-align: center;
    }

    @include media-breakpoint-down(xs) {
        padding: 0 0 10px;
    }

    &__header {
        font-family: $aboutLittleHeaderFont;
        font-size: 22px;
        line-height: 24px;
        vertical-align: top;

        @include media-breakpoint-down(md) {
            font-size: 20px;
            line-height: 22px;
        }

        @include media-breakpoint-down(sm) {
            line-height: 55px;
        }

        &_decor {
            display: inline;
        }
    }

    &__image {
        padding: 0 15px;
        width: 80px;
    
        @include media-breakpoint-down(md) {
            padding: 0;
            width: 60px;
        }
    }
}