.b-contactBlockText {
    font-family: $aboutTextFont;
    font-size: 17px;
    line-height: 24px;
    padding-left: 85px;

    @include media-breakpoint-down(md) {
        font-size: 15px;
        line-height: 20px;
        padding-left: 60px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 16px;
        line-height: 20px;
        padding: 20px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 15px;
        line-height: 18px;
    }

    &__link {
        color: white;
        transition-duration: .3s;
        &:hover {
            color: $mainThemeColor;
            font-weight: 700;
            text-decoration: none;
        }
    }
}