.b-clientTeamAvatars {

    @include media-breakpoint-down(md) {
        margin-top: 30px;
    }

    &_decor {
        margin-top: 60px;

        @media (max-width: 1600px) {
            margin-top: 50px;
        }

        @include media-breakpoint-down(lg) {
            margin-top: 40px;
        }

        @include media-breakpoint-down(md) {
            margin-top: 30px;
        }

        @include media-breakpoint-down(xs) {
            margin: 0;
        }
    }

    &__image {
        width: 70px;
    }
}