.b-howWeWork {
    padding: 120px 0 200px 215px;

    @media (max-width: 1600px) {
        padding: 50px 0 50px 100px;
    }

    @include media-breakpoint-down(lg) {
        padding: 30px 0 30px 50px;
    }

    @include media-breakpoint-down(md) {
        padding: 24px 0 24px 42px;
    }

    @include media-breakpoint-down(sm) {
        padding: 20px 0 20px 30px;
    }

    @include media-breakpoint-down(xs) {
        padding: 10px;
    }

    &_decor {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;

        @media (max-width: 1600px) {
            grid-template-columns: 2fr 5fr;
        }

        @include media-breakpoint-down(md) {
            grid-template-columns: 1fr 2fr;
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr 1fr;
        }

        @include media-breakpoint-down(xs) {
            display: block;
        }

        &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: -37%;
            border: 600px solid transparent;
            border-right: 600px solid $mainThemeColor;
            z-index: 2;

            @media (max-width: 1600px) {
                border: 500px solid transparent;
                border-right: 500px solid $mainThemeColor;
                bottom: -55%;
            }
            @include media-breakpoint-down(lg) {
                border: 400px solid transparent;
                border-right: 400px solid $mainThemeColor;
            }
            @include media-breakpoint-down(md) {
                border: 200px solid transparent;
                border-right: 200px solid $mainThemeColor;
                bottom: -13%;
            }
            @include media-breakpoint-down(xs) {
                display: none;
            }
        }
    }

    &__header {
        font-family: $aboutHeaderFont;
        color: $mainThemeHeaderColor;
        font-size: 62px;

        @include media-breakpoint-down(lg) {
            font-size: 50px;
        }

        @include media-breakpoint-down(md) {
            font-size: 40px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 26px;
        }

        &_decor {
            grid-column: 1 / -1;
            margin-bottom: 60px;

            @media (max-width: 1600px) {
                margin-bottom: 0;
            }

            @include media-breakpoint-down(xs) {
                grid-column: initial;
            }
        }
    }
}