.b-howWeWorkImage {
    height: 295px;
    width: 450px;
    background: url(../images/works/2.png) no-repeat;
    padding: 0 70px;

    &_decor {
        position: absolute;
        right: 25%;
        z-index: 2;

        @media (max-width: 1600px) {
            transform: scale(0.9, 0.9);
            right: 19%;
        }

        @include media-breakpoint-down(lg) {
            transform: scale(0.7, 0.7);
            right: 10%;
        }

        @include media-breakpoint-down(md) {
            transform: scale(0.6, 0.6);
            right: -87px;
            top: -30px;
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }

        &:first-child {
            right: 61%;

            @media (max-width: 1600px) {
                right: 56%;
            }

            @include media-breakpoint-down(lg) {
                right: 45%;
            }

            @include media-breakpoint-down(md) {
                right: 26%;
            }

            @include media-breakpoint-down(sm) {
                right: -25%;
                display: block;
                top: -55px;
            }

            @include media-breakpoint-down(xs) {
                display: none;
            }
        }

        &:last-child {
            right: 0;

            @media (max-width: 1600px) {
                right: -14px;
            }

            @include media-breakpoint-down(lg) {
                right: -46px;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &:first-child {
        background: url(../images/works/1.png) no-repeat;
        padding: 0 90px;

        .b-howWeWorkImage__header {
            position: initial;
        }
    }

    &:last-child {
        width: 309px;
        background: url(../images/works/3.png) no-repeat;
    }

    &__number {
        font-family: $headerTextFont;
        color: white;
        font-size: 60px;
        text-align: right;

        &_decor {
            display: block;
            margin-bottom: 40px;
        }
    }

    &__header {
        font-family: $headerTextFont;
        color: white;
        font-size: 40px;
        text-transform: uppercase;

        &_decor {
            display: block;
            bottom: 0;
            position: absolute;
        }
    }

    &__text {
        font-family: $aboutTextFont;
        color: white;
        font-size: 18px;
        line-height: 30px;
        padding-right: 40px;

        &_decor {
            display: block;
        }
    }
}