.b-howWeWorkInfo {
    &_decor {
        margin-top: 20px;

        @media (max-width: 1600px) {
            margin-right: 30px;
        }

        @include media-breakpoint-down(xs) {
            margin: 0;
        }
    }

    &__text {
        font-family: $aboutTextFont;
        color: $mainThemeTextColor;
        font-size: 17px;
        line-height: 30px;
        text-align: justify;

        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 26px;
        }

        @include media-breakpoint-down(sm) {
            line-height: 22px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 15px;
            line-height: 18px;
        }
    }

    &__button {
        text-transform: uppercase;
        background: $mainThemeColor;
        font-family: $headerTextFont;
        font-size: 21px;
        color: white;
        border-radius: 50px;
        box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.2);
        height: 54px;
        transition-duration: .5s;
        padding: 10px 32px;

        @include media-breakpoint-down(lg) {
            height: 40px;
            padding: 7px 22px;
            font-size: 18px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-down(xs) {
            height: 30px;
            padding: 6px 14px;
            font-size: 13px;
        }

        &:hover {
            background: $mainThemeExtraColor;
            outline: none;
            text-decoration: none;
            color: white;
        }

        &:visited {
            color: white;
        }

        &_decor {
            margin-top: 70px;
            display: inline-block;

            @media (max-width: 1600px) {
                margin-top: 30px;
            }

            @include media-breakpoint-down(sm) {
                margin-top: 20px;
            }
        }
    }

}