.b-header {
    background: url(../images/header/PlaceImage.png);
    background-size: cover;
    height: 890px;

    @include media-breakpoint-down(lg) {
        height: 500px;
    }

    @include media-breakpoint-down(sm) {
        height: 380px;
    }

    @include media-breakpoint-down(xs) {
        height: 278px;
    }

    &_decor {
        position: relative;
    }

    &__button {
        text-transform: uppercase;
        background: white;
        font-family: $headerTextFont;
        font-size: 21px;
        color: #242424;
        border-radius: 50px;
        box-shadow: -4px 11px 40px 0px rgba(0, 1, 1, 0.47);
        height: 54px;
        transition-duration: .5s;
        padding: 10px 32px;

        @include media-breakpoint-down(lg) {
            height: 40px;
            padding: 7px 22px;
            font-size: 18px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 16px;
        }

        @include media-breakpoint-down(xs) {
            height: 30px;
            padding: 6px 14px;
            font-size: 13px;
        }

        &_decor {
            z-index: 1;
            position: absolute;
            left: 26%;
            bottom: 22%;
            clip: rect(5px, 5px, 5px, 5px);

            @include media-breakpoint-down(lg) {
                bottom: 10%;
                left: 29%;
            }

            @include media-breakpoint-down(md) {
                bottom: 15%;
                left: 43%;
            }

            @include media-breakpoint-down(sm) {
                bottom: 18%;
                left: 51%;
            }

            @include media-breakpoint-down(xs) {
                bottom: 16%;
            }
        }

        &:hover,
        &:visited {
            color: #242424;
            outline: none;
            text-decoration: none;
        }

        &:hover {
            background: $mainThemeColor;
            color: white;
        }

    }

    &__image {
        filter: drop-shadow(0px 14px 62px rgba(35, 31, 32, 0.81));

        &_decor {
            z-index: 1;
            position: absolute;
            right: 0;
            top: 9%;
            transform: scale(0.9);
        }

        @include media-breakpoint-down(lg) {
            top: -20%;
            right: -10%;
            transform: scale(0.5);
        }

        @include media-breakpoint-down(md) {
            top: -60%;
            right: -29%;
            transform: scale(0.3);
        }

        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}