.b-navButtons {
    color: white;

    &__searchButton {
        padding: 10px 25px;
        transition-duration: .5s;

        &:hover {
            color: $mainThemeColor;
            border-radius: 50%;
            text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 12px;
        }

        @include media-breakpoint-down(xs) {
            padding: 8px;
            font-size: 14px;
        }
    }

    &__facebookButton {
        padding: 8px 25px;
        transition-duration: .5s;

        &:hover {
            color: $mainThemeColor;
            border-radius: 50%;
            text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
        }

        @include media-breakpoint-down(md) {
            padding: 12px;
        }

        @include media-breakpoint-down(xs) {
            padding: 8px;
            font-size: 14px;
        }
    }
}
