.b-nameandNav {

    &_decor {
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
        padding: 30px 60px;
        width: 100%;
        height: 100%;

        @include media-breakpoint-down(md) {
            flex-direction: column;
            justify-content: space-around;
            padding: 25px 35px;
        }

        @include media-breakpoint-down(xs) {
            padding: 20px 24px;
        }
    }

    &__name {
        font-family: $headerNameFont;
        font-size: 43px;
        color: white;

        @include media-breakpoint-down(sm) {
            font-size: 30px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 26px;
        }

        &_topMargin {
            margin-top: -15px;
        }
    }

}
