.b-navMenu {
    color: white;

    &_decor {
        display: flex;
        justify-content: space-between;

        @include media-breakpoint-down(md) {
            flex-direction: column;
        }
    }
}
