.b-navLinks {
    &__navLink {
        font-family: $headerTextFont;
        font-size: 15px;
        text-transform: uppercase;
        color: white;
        padding: 10px;
        transition-duration: .5s;

        &:hover {
            color: $mainThemeColor;
            border-radius: 15px;
            outline: none;
            text-decoration: none;
            text-shadow: white 1px 1px 0, white -1px -1px 0, white -1px 1px 0, white 1px -1px 0;
        }

        @include media-breakpoint-down(sm) {
            font-size: 14px;
            padding: 8px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 12px;
            padding: 5px;
        }

        &_decor {
            display: inline-block;

            @include media-breakpoint-down(md) {
                display: block;
            }
        }
    }
}
