.b-ourTeamBlockFirst {

    &:after {
        content: "";
        width: 250px;
        height: 250px;
        background: white;
        position: absolute;
        left: 84px;
        top: 139px;
        z-index: 0;
        filter: drop-shadow(-19px 12px 20px rgba(35, 31, 32, 0.31));
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        @include media-breakpoint-down(lg) {
            top: 109px;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &_decor {
        position: relative;
    }

    &__image {
        width: 325px;
        opacity: 0.75;
        transition: .5s;

        @media (min-width: 1601px) {
            &:hover {
                opacity: 1;
                transform: scale(1.5);

                &+.b-ourTeamBlockFirstUnderline {
                    top: 450px;
                }
            }
        }

        &_decor {
            margin: 0 auto;
            position: absolute;
            top: 103px;
            left: 47px;
            z-index: 1;

            @include media-breakpoint-down(lg) {
                top: 73px;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
}