.b-ourTeam {
    background: $mainThemeBackgroundColor;
    height: 850px;

    @media (max-width: 1600px) {
        height: 740px;
    }

    @include media-breakpoint-down(lg) {
        height: 650px;
    }

    @include media-breakpoint-down(md) {
        height: 450px;
    }

    @include media-breakpoint-down(xs) {
        height: 370px;
    }

    &_decor {
        padding: 90px 180px;
        position: relative;

        @media (max-width: 1600px) {
            padding: 50px 0 0;
        }

        @include media-breakpoint-down(lg) {
            padding: 30px 0 0;
        }

        @include media-breakpoint-down(md) {
            padding: 24px 0 0;
        }

        @include media-breakpoint-down(sm) {
            padding: 20px 0 0;
        }

        @include media-breakpoint-down(xs) {
            padding: 10px 0 0;
        }

        &:after {
            content: "";
            position: absolute;
            left: 0;
            top: 800px;
            border: 450px solid transparent;
            border-left: 450px solid $mainThemeColor;
            z-index: 1;

            @media (max-width: 1600px) {
                top: 750px;
                border: 350px solid transparent;
                border-left: 350px solid $mainThemeColor;
            }

            @include media-breakpoint-down(lg) {
                top: 720px;
                border: 200px solid transparent;
                border-left: 200px solid $mainThemeColor;
            }

            @include media-breakpoint-down(md) {
                top: 520px;
            }

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: -200px;
            border: 200px solid transparent;
            border-left: 200px solid black;

            @media (max-width: 1600px) {
                top: -150px;
                border: 150px solid transparent;
                border-left: 150px solid black;
            }

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    &__header {
        font-family: $aboutHeaderFont;
        color: $mainThemeHeaderColor;
        font-size: 62px;
        text-align: center;

        @include media-breakpoint-down(lg) {
            font-size: 50px;
        }

        @include media-breakpoint-down(md) {
            font-size: 40px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 26px;
        }
        &_decor {
            margin-bottom: 20px;
        }
    }
}