.b-ourTeamBlockFirstUnderline {
    background: #636363;
    color: white;
    font-family: $aboutTextFont;
    font-size: 18px;
    font-weight: 700;
    width: 239px;
    height: 38px;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);
    transition: .5s;

    @media (max-width: 1600px) {
        width: 225px;
    }

    &_decor {
        margin: 0 auto;
        position: absolute;
        left: 88px;
        z-index: 2;
        top: 390px;

        @include media-breakpoint-down(lg) {
            left: 95px;
            top: 361px;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__text {
        padding: 5px 70px;
        -webkit-transform: skew(-40deg);
        -moz-transform: skew(-40deg);
        -o-transform: skew(-40deg);

        @include media-breakpoint-down(lg) {
            padding: 5px 65px;
        }

        @include media-breakpoint-down(md) {
            padding: 5px 55px;
        }

        &_decor {
            display: inline-block;
        }
    }
}