.b-ourTeamBlockCentralUnderline {
    background: #252525;
    color: white;
    font-family: $aboutTextFont;
    font-size: 24px;
    font-weight: 700;
    width: 300px;
    height: 48px;
    text-align: center;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);

    @include media-breakpoint-down(lg) {
        font-size: 23px;
        width: 267px;
        height: 42px;
    }

    @include media-breakpoint-down(md) {
        font-size: 20px;
        width: 241px;
        height: 37px;
    }
    @include media-breakpoint-down(xs) {
        font-size: 17px;
        width: 206px;
        height: 30px;
    }

    &_decor {
        margin: 48px auto 0;
        position: relative;
        z-index: 3;

        @media (max-width: 1600px) {
            margin: 55px auto 0;
        }

        @include media-breakpoint-down(md) {
            margin: 30px auto 0;
        }
    }

    &__text {
        -webkit-transform: skew(-40deg);
        -moz-transform: skew(-40deg);
        -o-transform: skew(-40deg);

        &_decor {
            display: block;
        }
    }
}