.b-ourTeamBlockLastUnderline {
    background: #636363;
    color: white;
    font-family: $aboutTextFont;
    font-size: 18px;
    font-weight: 700;
    width: 239px;
    height: 38px;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);
    transition-duration: .5s;

    @media (max-width: 1600px) {
        width: 225px;
    }

    @include media-breakpoint-down(lg) {
        width: 214px;
    }

    &_decor {
        margin: 0 auto;
        top: -129px;
        right: 87px;
        position: absolute;
        z-index: 2;

        @media (max-width: 1600px) {
            top: -134px;
        }

        @include media-breakpoint-down(lg) {
            top: -85px;
            right: 97px;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__text {
        padding: 5px 70px;
        -webkit-transform: skew(-40deg);
        -moz-transform: skew(-40deg);
        -o-transform: skew(-40deg);

        @include media-breakpoint-down(lg) {
            padding: 5px 65px;
        }

        @include media-breakpoint-down(md) {
            padding: 5px 55px;
        }

        @include media-breakpoint-down(xs) {
            padding: 0;
        }

        &_decor {
            display: inline-block;
        }
    }
}