.b-ourTeamBlockExtraUnderline {
    background: $mainThemeColor;
    -webkit-transform: skew(40deg);
    -moz-transform: skew(40deg);
    -o-transform: skew(40deg);
    width: 169px;
    height: 30px;

    @include media-breakpoint-down(md) {
        width: 143px;
        height: 25px;
    }

    @include media-breakpoint-down(xs) {
        width: 117px;
        height: 23px;
    }

    &_decor {
        margin: -4px auto;
        position: relative;
        z-index: 3;
    }

    &__text {
        font-size: 19px;
        font-style: italic;
        color: white;
        font-family: $aboutTextFont;
        -webkit-transform: skew(-40deg);
        -moz-transform: skew(-40deg);
        -o-transform: skew(-40deg);

        @include media-breakpoint-down(md) {
            font-size: 18px;
        }
        @include media-breakpoint-down(xs) {
            font-size: 15px;
        }

        &_decor {
            display: block;
            margin: 0 auto;
            width: 60%;

            @include media-breakpoint-down(lg) {
                width: 54%;
            }
        }
    }
}