.b-ourTeamBlockLast {
    &_decor {
        position: relative;
    }

    &:after {
        content: "";
        width: 250px;
        height: 250px;
        background: white;
        position: absolute;
        right: 80px;
        bottom: 128px;
        z-index: 0;
        filter: drop-shadow(-19px 12px 20px rgba(35, 31, 32, 0.31));
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);

        &:hover {
            transform: scale(1.5);
        }

        @media (max-width: 1600px) {
            bottom: 136px;
        }

        @include media-breakpoint-down(lg) {
            bottom: 85px;
        }

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    &__image {
        width: 325px;
        opacity: 0.75;
        transition-duration: .5s;

        @media (min-width: 1601px) {
            &:hover {
                opacity: 1;
                transform: scale(1.5);

                &+.b-ourTeamBlockLastUnderline {
                    top: -66px;
                }
            }
        }

        &_decor {
            position: absolute;
            bottom: 91px;
            right: 42px;
            z-index: 1;

            @media (max-width: 1600px) {
                bottom: 96px;
            }

            @include media-breakpoint-down(lg) {
                bottom: 47px;
            }

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }
}