.b-ourTeamBlockCentral {
    &_decor {
        position: relative;
    }

    &__image {
        width: 509px;
        transform: rotate(45deg);

        @include media-breakpoint-down(lg) {
            width: 436px;
        }

        @include media-breakpoint-down(md) {
            width: 330px;
        }

        @include media-breakpoint-down(xs) {
            width: 250px;
        }

        &_decor {
            margin: 0 auto;
            position: absolute;
            bottom: -54px;
            left: -54px;
            z-index: 2;

            @include media-breakpoint-down(lg) {
                bottom: -56px;
                left: -52px;
            }

            @include media-breakpoint-down(md) {
                bottom: -44px;
                left: -41px;
            }

            @include media-breakpoint-down(xs) {
                bottom: -25px;
                left: -25px;
            }
        }
    }

    &__backgroundImage {
        width: 400px;
        height: 400px;
        background: white;
        transform: rotate(-45deg);
        overflow: hidden;

        @include media-breakpoint-down(lg) {
            width: 330px;
            height: 330px;
        }

        @include media-breakpoint-down(md) {
            width: 245px;
            height: 245px;
        }

        @include media-breakpoint-down(xs) {
            width: 200px;
            height: 200px;
        }

        &_decor {
            margin: 0 auto;
            top: 65px;
            position: relative;
            z-index: 2;

            @include media-breakpoint-down(md) {
                top: 30px;
            }

            @include media-breakpoint-down(xs) {
                top: 25px;
            }
        }
    }
}