.b-slogan {
    font-family: $sloganFont;
    color: white;
    text-align: center;
    mix-blend-mode: multiply;
    height: 890px;
    background-color: $mainThemeColor;
    position: relative;

    @include media-breakpoint-down(lg) {
        height: 500px;
    }

    @include media-breakpoint-down(sm) {
        height: 380px;
    }

    @include media-breakpoint-down(xs) {
        height: 278px;
    }

    &_decor {
        position: absolute;
        left: -34%;
        width: 134%;
        padding-top: 14%;

        @include media-breakpoint-down(md) {
            left: 0;
            width: 100%;
        }

        @include media-breakpoint-down(sm) {
            padding-left: 20%;
        }

        @include media-breakpoint-down(xs) {
            padding-left: 20%;
            padding-top: 7%;
        }

        @media (max-width: 400px) {
            padding-top: 20%;
        }
    }

    &__name {
        margin: 0;
        filter: drop-shadow(0 0 1px #231f20);
        text-shadow: 0 0 24px #231f20;
        mix-blend-mode: hard-light;
        font-size: 160px;
        line-height: 132px;

        @include media-breakpoint-down(lg) {
            font-size: 100px;
            line-height: 85px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 87px;
            line-height: 76px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 65px;
            line-height: 58px;
        }

        @media (max-width: 400px) {
            font-size: 40px;
            line-height: 42px;
        }
    }

    &__endofName {
        font-size: 96px;
        line-height: 82px;
        margin: 0;
        filter: drop-shadow(0 0 1px #231f20);
        text-shadow: 0 0 24px #231f20;
        mix-blend-mode: hard-light;

        @include media-breakpoint-down(lg) {
            font-size: 60px;
            line-height: 55px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 50px;
            line-height: 47px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 40px;
            line-height: 38px;
        }

        @media (max-width: 400px) {
            font-size: 23px;
            line-height: 22px;
        }
    }
}