.b-socialIcons {
    padding: 0 400px;

    @media (max-width: 1600px) {
        padding: 0 300px;
    }

    @include media-breakpoint-down(lg) {
        padding: 0 200px;
    }

    @include media-breakpoint-down(md) {
        padding: 0 100px;
    }

    @include media-breakpoint-down(sm) {
        padding: 0 50px;
        font-size: 14px;
    }

    @include media-breakpoint-down(xs) {
        padding: 0 20px;
    }

    &_decor {
        display: flex;
        justify-content: space-evenly;
    }

    &__link {
        color: white;
        transition-duration: .3s;
        &:hover {
            color: $mainThemeColor;
        }
    }
}