.b-workBlock {
    background: url(../images/icons/flag.png) no-repeat left 5px;
    padding: 0 35px 96px 90px;
    box-sizing: border-box;
    text-align: justify;
    @media (max-width: 1600px) {
        padding: 0 30px 85px 80px;
    }

    @include media-breakpoint-down(lg) {
        padding: 0 20px 55px 75px;
    }

    @include media-breakpoint-down(md) {
        padding: 0 11px 50px 77px;
    }

    @include media-breakpoint-down(sm) {
        padding: 0 0 30px 80px;
        background-size: 12%;
    }

    @include media-breakpoint-down(xs) {
        padding: 0 10px 20px 75px;
        background: url(../images/icons/flag.png) no-repeat 10px 0;
        background-size: 10%;
    }

    &__header {
        font-family: $aboutLittleHeaderFont;
        color: #6f6f6e;
        font-size: 30px;
        line-height: 75px;
        @include media-breakpoint-down(lg) {
            font-size: 27px;
            line-height: 70px;
        }
    
        @include media-breakpoint-down(md) {
            font-size: 19px;
            line-height: 65px;
        }
    
        @include media-breakpoint-down(sm) {
            font-size: 20px;
            line-height: 60px;
        }
    
        @include media-breakpoint-down(xs) {
            line-height: 55px;
        }
    }
    &__text {
        font-family: $aboutTextFont;
        color: $mainThemeTextColor;
        font-size: 17px;
        line-height: 30px;
        @include media-breakpoint-down(md) {
            font-size: 16px;
            line-height: 26px;
        }

        @include media-breakpoint-down(sm) {
            line-height: 22px;
        }

        @include media-breakpoint-down(xs) {
            font-size: 15px;
            line-height: 18px;
        }
    }
}
