@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: "Lato Black";
    src: url(../fonts/Lato-Black.ttf);
}

@font-face {
    font-family: "LemonMilkBold";
    src: url(../fonts/LemonMilkBold.otf);
}

@font-face {
    font-family: "PeaceSans";
    src: url(../fonts/peace_sans.otf);
}

@font-face {
    font-family: "OpenSans Regular";
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "OpenSans Bold";
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

$headerNameFont: 'Lato Black',
sans-serif;
$headerTextFont: 'Lato Bold',
sans-serif;
$sloganFont: 'LemonMilkBold',
sans-serif;
$mainThemeColor: #bc2e3a;
$mainThemeHeaderColor: #494949;;
$mainThemeTextColor: #6a6a6a;
$mainThemeExtraColor: #8c242d;
$mainThemeBackgroundColor: #f5f5f5;
$aboutHeaderFont: 'PeaceSans',
sans-serif;
$aboutLittleHeaderFont: 'OpenSans Bold',
sans-serif;
$aboutTextFont: 'OpenSans Regular',
sans-serif;
